<!DOCTYPE html>
<html>
  <head>
    <title>LinkShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="h-screen">
      <div class="md:container md:mx-auto md:px-8 md:py-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
